@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

html,
body,
#__next,
.app {
    height: 100%;
}

button,
input,
textarea {
    display: block;
    background-color: transparent;
    font: inherit;
}

button {
    cursor: pointer;
}

textarea {
    resize: none;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-size: 18px;
    height: 100%;
    font-family: "Nunito", sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
}

.App__title {
    text-align: center;
    padding-top: 25px;
    margin-bottom: 25px;
    font-size: 50px;
    font-weight: bold;
    color: pink;
}
.App__content {
    box-shadow: 0px 3px 22px 0px grey;
}
.todo__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.todo__form input {
    width: 100%;
    padding: 7px 15px;
    border: 1px solid white;
    outline: unset;
    padding: 0 10px 0 10px;
}
.todo__form input::placeholder {
    color: gray;
    font-style: italic;
}
.todo__form button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo__arrow {
    width: 20px;
    height: 18px;
    transition: all 0.2s;
}
.todo__arrow.active {
    transform: rotate(90deg);
}
.todos__list {
    display: flex;
    flex-direction: column;
    min-height: 144px;
}
.todos__empty {
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.todo__box {
    display: flex;
    gap: 18px;
    align-items: center;
}
.todo__box input {
    width: 15px;
    height: 15px;
}
.todo__name {
    font-size: 20px;
}
.todo__name.completed {
    color: gray;
    text-decoration: line-through;
}
.loading {
    width: 70px;
    margin: 0 auto;
    display: block;
}
.todos__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.todos__status {
    display: flex;
    gap: 5px;
    align-items: center;
}
.todos__status-item {
    padding: 5px;
    border: 1px solid transparent;
}
.todos__status-item.active {
    border: 1px solid pink;
}
